@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    @apply h-full leading-none;
    background: linear-gradient(#9198e5, #e66465);
  }

  body {
    @apply m-0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

@layer components {
  .kana-character-list {
    flex-flow: wrap;
    @apply p-0.5 rounded-sm flex bg-white bg-opacity-20;
  }

  .kana-character-block {
    @apply leading-none inline-flex flex-col items-center justify-center h-12 w-12 m-1 rounded relative text-xl bg-gray-200 bg-opacity-90;
  }
  
  .kana-input-field {
    @apply cursor-pointer text-5xl h-28 w-28 mx-0 my-1 rounded-lg duration-200 bg-white placeholder-opacity-90 hover:bg-white;
  }
  
  .character-list-item-actual {
    font-size: 0.65rem; /* text-xs */
    @apply absolute top-0.5 right-0.5 text-neutral-700;
  }

  .character-list-item-input {
    font-size: 0.65rem; /* text-xs */
    @apply absolute top-0.5 left-0.5 mr-0.5 text-neutral-700;
  }

  .character-list-item-time {
    font-size: 0.5rem; /* text-xs */
    @apply absolute bottom-0.5 left-0.5 text-neutral-400;
  }
  
  .config-button {
    @apply cursor-pointer p-1.5 rounded hover:bg-white hover:bg-opacity-50 active:bg-white active:bg-opacity-70;
  }
  
  .config-button.active {
    @apply bg-white bg-opacity-40;
  }
}

@layer utilities {
  .animate-flash {
    animation: flash 1s linear infinite;
  }

  @keyframes flash {
    50% {
      opacity: 0;
    }
  }
}